<!--<nav id="sidebar">
  <div class="sidebar-header">
    <h3> WYNK <img style="height:40px;width:50px;border-radius:10px;margin-left:20px" src="../assets/2.jpg" /></h3><br />


  </div>


  <mat-accordion style="color:white">

    <mat-panel-title style="background-color:#293846;color:white;margin-left:5px">
      <a routerLink="" class="grab"><mat-icon style="font-size:16px">home</mat-icon>Home</a>
    </mat-panel-title>

  </mat-accordion>


  <mat-accordion style="color:white">
    <mat-expansion-panel class="expansion" style="background-color:#293846;color:white">
      <mat-expansion-panel-header style="color:white">
        <mat-panel-title style="background-color:#293846;color:white" (click)="Mastershown()">
          Master
        </mat-panel-title>

      </mat-expansion-panel-header>
      <a routerLink="Registration" class="grab">Registration</a><br /><br />
      <a routerLink="Doctormaster" class="grab" (click)="docotorshown()">Doctor Master</a><br /><br />
      <a routerLink="icd" class="grab" (click)="ICDshown()">ICD Master</a><br /><br />
      <a routerLink="SurgeryComponent" class="grab" (click)="surgeshown()">Surgery Admission and Billing</a><br /><br />
      <a routerLink="reports" class="grab" (click)="reportshown()">Reports</a><br /><br />
      <a routerLink="users" class="grab" (click)="usershown()">User</a><br /><br />
      <a routerLink="Investigation" class="grab" (click)="usershown()">investigation</a>




    </mat-expansion-panel>
  </mat-accordion>

</nav>-->
